@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<

<div class="container-fluid">
    <h2>Add a Reservation <a class="btn btn-sm btn-secondary" asp-action="Index">Back</a></h2>

    <div class="form-group">
        <label for="Name">Name: </label>
        <input type="text" class="form-control" id="Name" />
    </div>

    <div class="form-group">
        <label for="StartLocation">Start Location: </label>
        <input type="text" class="form-control" id="StartLocation" />
    </div>

    <div class="form-group">
        <label for="EndLocation">End Location: </label>
        <input type="text" class="form-control" id="EndLocation" />
    </div>

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary" id="AddButton">Add</button>
    </div>

    <div style="display:none" id="resultDiv">
        <h2>Reservation</h2>
        <table class="table table-sm table-striped table-bordered m-2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Start Location</th>
                    <th>End Location</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function() {
            AddReservation();
    });
</script>

